{% extends 'base.html' %} {% block title %} {% if post %}Edit Post{% else
%}Create Post{% endif %} {% endblock %} {% block content %}
<div
  class="container d-flex justify-content-center align-items-center py-4 px-3"
  style="min-height: 80vh"
>
  <div class="card shadow p-4" style="width: 100%; max-width: 600px">
    <h2 class="text-center mb-4">
      {% if post %}Edit Post{% else %}Create Post{% endif %}
    </h2>
    <form method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title of Blog</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter your blog title"
          value="{{ post.title if post else '' }}"
          required
        />
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="content"
          name="content"
          placeholder="Write your blog content here"
          rows="6"
          required
        >
{{ post.content if post else '' }}</textarea
        >
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">
          {% if post %}Update{% else %}Create{% endif %}
        </button>
      </div>
    </form>
    <br />

    <div class="text-center">
      <a href="{{ url_for('routes.dashboard') }}" class="btn btn-primary"
        >Back to Dashboard</a
      >
    </div>
  </div>
</div>
{% endblock %}
